@model List<string>
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Hata meydana geldi</h5>
<hr />
@if (Model != null)
{
    <div class="alert alert-danger">
        <ul>

            @foreach (var item in Model)
            {
                <li>@item</li>

            }
        </ul>

    </div>
}


